body {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#greeting {
    color: blue;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border: 3px solid black;
    background-color: #A8A6BE;
    text-shadow: 1px 1px black;
    width: 100%;
}
p, em {
    color: blue;
}
strong {
    color: red;
    font-size: 150%;
    border: 3px double black;
}
.side-menu {
    color: blue;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border: 3px solid black;
    background-color: #A8A6BE;
    width: 200px;
}